# =================================================================
#
# Authors: Pascallike <ant@byteroad.net>>
#
# Copyright (c) 2026 Pascallike
#
# Permission is hereby granted, free of charge, to any person
# obtaining a copy of this software and associated documentation
# files (the "Software"), to deal in the Software without
# restriction, including without limitation the rights to use,
# copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the
# Software is furnished to do so, subject to the following
# conditions:
#
# The above copyright notice and this permission notice shall be
# included in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
# OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
# HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
# WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
# FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
# OTHER DEALINGS IN THE SOFTWARE.
#
# =================================================================
version: "3.0"

services:
  postgis:
    image: postgis/postgis:15-3.3-alpine
    container_name: postgis
    env_file:
      - .env     # path to your .env file
    volumes:
       - ./postgis/pg_hba.conf:/var/lib/postgresql/data/pg_hba.conf
       - ./postgis/data:/var/lib/postgresql/data
    networks:
      - database
    ports:
      - "5432:5432"
    restart: always
    command: [
      "postgres", 
      "-c", "max_wal_size=2GB", 
      "-c", "listen_addresses=*",
      "-c", "hba_file=/var/lib/postgresql/data/pg_hba.conf"
    ]
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  db_and_api_init:
    build: ./utils/
    container_name: db_and_api_init
    env_file:
      - .env     # path to your .env file
    volumes:
      - ./data:/data # where *.SHP to upload are
    depends_on:
      - postgis
    networks:
      - database

networks:
  database: