# =================================================================
#
# Authors: doublebyte1 <jo@byteroad.net>>
#
# Copyright (c) 2024 doublebyte
#
# Permission is hereby granted, free of charge, to any person
# obtaining a copy of this software and associated documentation
# files (the "Software"), to deal in the Software without
# restriction, including without limitation the rights to use,
# copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the
# Software is furnished to do so, subject to the following
# conditions:
#
# The above copyright notice and this permission notice shall be
# included in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
# OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
# HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
# WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
# FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
# OTHER DEALINGS IN THE SOFTWARE.
#
# =================================================================
version: "3.0" # For docker compose viz

services:

  apache-httpd:
    build: ./apache-httpd/
    container_name: httpd
    depends_on:
      - pygeoapi
    env_file:
      - .env     # path to your .env file
    volumes:   
      - ./apache-httpd/httpd-ssl.conf:/usr/local/apache2/conf/httpd.conf
      - ./apache-httpd/robots.txt:/usr/local/apache2/htdocs/robots.txt      
      - /etc/cert/2ogcapi.pem:/usr/local/apache2/conf/ogcapi/fullchain.pem
      - /etc/cert/ogcapi_privkey4.pem:/usr/local/apache2/conf/ogcapi/privkey.pem
      - /etc/cert/2logs.pem:/usr/local/apache2/conf/matomo/fullchain.pem  
      - /etc/cert/logs_privkey4.pem:/usr/local/apache2/conf/matomo/privkey.pem
      - /etc/cert/1ghc.pem:/usr/local/apache2/conf/health/fullchain.pem  
      - /etc/cert/ghc_privkey1.pem:/usr/local/apache2/conf/health/privkey.pem
      - ./apache-httpd/logs:/usr/local/apache2/logs
    ports:
      - "80:80"
      - "443:443"
    networks:
      default:
        aliases:
          - ogcapi.dgterritorio.gov.pt
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  pygeoapi:
    image: geopython/pygeoapi:latest
    container_name: pygeoapi
    expose:
      - "80"
    env_file:
      - .env     # path to your .env file
    volumes:
      - ./pygeoapi/docker.config.yml:/pygeoapi/local.config.yml
      - ./data:/data
      - ./pygeoapi/templates:/templates # jinja templates
      - ./pygeoapi/Logo_DGT.png:/pygeoapi/pygeoapi/static/img/Logo_DGT.png # logo
      # - ./pygeoapi/default.css:/pygeoapi/pygeoapi/static/css/default.css # ribbon
    restart: always
    links:
      - tiles
      - tiles-caop
      - tiles-inspire
      - tiles-scalargis
    networks:
      - default
    depends_on:
      db_and_api_init:
        condition: service_completed_successfully
        restart: true
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  tiles:
    image: ghcr.io/maplibre/martin
    restart: always
    environment:
      - DATABASE_URL=${REMOTE_COS_URL}
      - WATCH_MODE=true
    command: --auto-bounds calc --cache-size 2048 --keep-alive 200 --pool-size 20 --webui disable --default-srid 4326 --save-config /tmp/config.yml
    depends_on:
      - postgis
    networks:
      - default
    healthcheck:
      test: ["NONE"]
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  tiles-caop:
    image: ghcr.io/maplibre/martin
    restart: always
    environment:
      - DATABASE_URL=${REMOTE_CAOP_URL}
      - WATCH_MODE=true
    command: --auto-bounds calc --cache-size 2048 --keep-alive 200 --pool-size 20 --webui disable --default-srid 3763 --save-config /tmp/config.yml
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - default
    healthcheck:
      test: ["NONE"]
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  tiles-inspire:
    image: ghcr.io/maplibre/martin
    restart: always
    environment:
      - DATABASE_URL=${REMOTE_INSPIRE_URL}
      - WATCH_MODE=true
    command: --auto-bounds calc --cache-size 2048 --keep-alive 200 --pool-size 50 --webui disable --default-srid 4326 --save-config /tmp/config.yml
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - default
    healthcheck:
      test: ["NONE"]
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  tiles-scalargis:
    image: ghcr.io/maplibre/martin
    restart: always
    environment:
      - DATABASE_URL=${REMOTE_SCALARGIS_URL}
      - WATCH_MODE=true
    command: --auto-bounds calc --cache-size 2048 --keep-alive 200 --pool-size 50 --webui disable --default-srid 4326 --save-config /tmp/config.yml
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - default
    healthcheck:
      test: ["NONE"]
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  mariadb:
    image: mariadb:10.11
    container_name: mariadb
    command: --max-allowed-packet=64MB
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=
      - MARIADB_AUTO_UPGRADE=1
      - MARIADB_DISABLE_UPGRADE_BACKUP=1
    env_file:
      - .env     # path to your .env file
    volumes:
      - ./matomo/data/maria:/var/lib/mysql:Z
    networks:
      - default
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  matomo:
    build:
      context: ./matomo/
      dockerfile: Dockerfile.main
    container_name: matomo
    ports:
      - 8081:80
    env_file:
      - .env     # path to your .env file
    volumes:
      - ./matomo/data/matomo:/var/www/html:z
      - ./apache-httpd/logs:/apache
    networks:
      - default
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  python_matomo:
    build:
      context: ./matomo/
      dockerfile: Dockerfile.cron
    container_name: matomo_python
    env_file:
      - .env     # path to your .env file
    volumes:
        - ./matomo/data/matomo:/var/www/html:z
        - ./apache-httpd/logs:/apache
        - ./matomo/state:/state
    depends_on:
      - matomo
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  ghc_web:
    image: geopython/geohealthcheck:latest
    container_name: ghc_web
    restart: on-failure
    expose:
       - 80
    # ports:
    #   - 8083:80
    env_file:
      - .env     # path to your .env file
    volumes:
      - ghc_sqlitedb:/GeoHealthCheck/DB
    networks:
      - default
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  ghc_runner:
    image: geopython/geohealthcheck:latest
    container_name: ghc_runner
    restart: on-failure
    entrypoint:
      - /run-runner.sh
    env_file:
      - .env     # path to your .env file
    volumes:
      - ghc_sqlitedb:/GeoHealthCheck/DB
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
        
volumes:
  ghc_sqlitedb:

networks:
  default: